{% extends "base.html" %}
{% block flag %}
{% if count %}
{{count}}
{% else %}
0
{% endif %}
{% endblock flag %}
{% block content %}
  
<style>
     @import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}
body{
    background-color: #423d52;
      color: #e9e0ab !important;
}
.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #423d52;
  /* color: #fff; */
  color: #e9e0ab;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #423d52;
  /* color: #e9e0ab; */
   color:#e9e0ab;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  /* background-color: #ebf3f9; */
  background-color: #423d52;
      color: #e9e0ab !important;
}
.rwd-table tr:hover:nth-child(odd):not(:first-child) {
  /* background-color: #ebf3f9; */
  color: #333 !important;
}

.rwd-table th {
  display: none;
  
}

.rwd-table th {
  padding: 1%;
  text-align: center;
  
}
.rwd-table td {
  display: block;
  text-align: center;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  /* color: #000; */
  color: #e9e0ab;
}

.rwd-table th,
.rwd-table td {
  text-align: center;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}

@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
    
    
  }
  .rwd-table td {
    /* padding: 1em !important; */
    display: flex;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
    color: #333;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
  .rwd-table td {
    
    text-align: center;
  }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */

h1 {
  text-align: center;
  font-size: 2.4em;
  color: #f2f2f2;
}
.container {
  display: block;
  text-align: center;
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}

/*
    Don't look at this last part. It's unnecessary. I was just playing with pixel gradients... Don't judge.
*/
/*
@media screen and (max-width: 601px) {
  .rwd-table tr {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
  }
  .rwd-table tr:nth-child(odd) {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
  }
}*/
</style>



<div class="container">
    <h1>Class XI</h1>
      <table class="rwd-table">
        <tbody>
          <tr>
            <th>SNo.</th>
            <th>Chapter</th>
            <th>Cart</th>
            <th>Purchase</th>
          </tr>
          {% for o in obj %}
          <tr>
            <td data-th="SNo">
              {{o.Sno}}
            </td>
            <td data-th="Chapter Name">
              {{o.chapter_name}}
            </td>
            <form method="post" action="adding">
              {% csrf_token %}
            <input type="hidden" name="chapter" value="{{o.chapter_name}}"/>
            <td data-th="Cart">
            <button class="btn btn-primary" type="submit">Add to cart</button> 
          </form>
            </td>
            <td data-th="Buy">
              <!-- <form method="post" action="/fetch" target="_blank">
                {% csrf_token %}
                <input type="hidden" value="{{o.chapter_name}}" name="title" />
                <input type="hidden" value="{{payment}}" name="order_id"/>
                <button hidden type="submit" id="btn" >Buy</button>
              </form> -->
              <button type="submit" onclick="fun()" id="rzp-button1" class="btn btn-primary">Buy</button> 
              </td>
            </tr>
            {% endfor %} 
          
          
          
        </tbody>
      </table>
      
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
// var options = {
//     "key": "rzp_test_CUCNWEytRu04a5", // Enter the Key ID generated from the Dashboard
//     "amount": 5000, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
//     "currency": "INR",
//     "name": "Benzene Institute", //your business name
//     "description": "Test Transaction",
//     "image": "https://thumbs.dreamstime.com/b/atom-icon-grey-background-atom-icon-grey-background-vector-illustration-175792922.jpg",
//   "order_id": "{{payment}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
//   "callback_url": "http://192.168.1.6:8000/verifypay",
//   "theme": {
//       "color": "#3399cc"
//   }
// };

// var rzp1 = new Razorpay(options);

// document.getElementById('rzp-button1').onclick = function(e){
//   // console.log(e.target.name)
//   obj=document.getElementById('btn')
  
//   obj.click()



//   setTimeout(()=>{
  
//       rzp1.open();
//   },3000)
//   e.preventDefault();
// }

fun=()=>{
  alert("Payment will be availabe soon !")
}


</script>

{% endblock content %}